@media print {
    body * {
        visibility: hidden;
    }

    .table-wrapper, .table-wrapper * {
        visibility: visible;
    }

    /* Adjust position of the table*/
    .table-wrapper {
        position: absolute;
        left: 0;
        top: 0;
    }
}